*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






a{
    text-decoration: none;
}


ul,ol{
    list-style: none;
}

body{
    
font-family: 'Open Sans', sans-serif;

}

.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


nav .logo{
    width: 30%;
}


nav .menu{
    width: 70%;
    text-align: right;
}

nav{
    background-color: #02918c;
}

nav .menu ul li{
    display: inline-block;
}

nav .menu ul li a{
    color:white;
    font-weight: 800;
    font-size: 12px;
    padding: 26px 25px;
    display: block;
}
